{
  "plugins": [
    // [ "@babel/plugin-transform-runtime", { "useESModules": false, "polyfill": true },
    // ],
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 3 versions"],
      },
      "useBuiltIns": "entry",
      "shippedProposals": true,
    }],
  ]
}