{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 3 versions"]
      },
      "modules": false,
      "useBuiltIns": "usage",
      "shippedProposals": true,
    }],
    "@babel/preset-stage-0"
  ]
}