/* @font-face {
  font-family: 'Amazon Ember';
  font-style: normal; 
  font-weight: 300;
  src: url('assets/fonts/AmazonEmber-Regular.eot');
  src: local('Amazon Ember Regular'), local('AmazonEmber-Regular'),
       url('assets/fonts/AmazonEmber-Regular.eot?#iefix') format('embedded-opentype'), 
       url('assets/fonts/AmazonEmber-Regular.woff') format('woff'), 
       url('assets/fonts/AmazonEmber-Regular.ttf') format('truetype'), 
       url('assets/fonts/AmazonEmber-Regular.svg#AmazonEmber-Regular') format('svg'); 
}

@font-face {
  font-family: 'Amazon Ember';
  font-style: bold; 
  font-weight: 600;
  src: url('assets/fonts/AmazonEmber-Bold.eot');
  src: local('Amazon Ember Bold'), local('AmazonEmber-Bold'),
       url('assets/fonts/AmazonEmber-Bold.eot?#iefix') format('embedded-opentype'), 
       url('assets/fonts/AmazonEmber-Bold.woff') format('woff'), 
       url('assets/fonts/AmazonEmber-Bold.ttf') format('truetype'), 
       url('assets/fonts/AmazonEmber-Bold.svg#AmazonEmber-Bold') format('svg'); 
}

html{
  font-family: 'Amazon Ember', sans-serif;
}
 */