.root{
	padding: var(--gutter);
/* 	display: flex; 
	flex-flow: column wrap; */
}

.content{
/* 	flex-grow: 1;  */
}

.primary{
	--background: var(--background-section-primary);
	--color: var(--color-section-primary);
}

.secondary{
	--background: var(--background-section-secondary);
	--color: var(--color-section-secondary);
	composes: antialias from global; 
}

.tertiary{
	--background: var(--background-section-tertiary, var(--gray-haze));
	--color: var(--color-section-tertiary, var(--blue-ebony-clay));
}

.primary, .secondary, .tertiary{
	background: var(--background);
	color: var(--color); 
}

/* .center{
	justify-content: center; 
} */