
.root{
	-webkit-appearance: none; 
	border-width: 0 0 2px 0;
	cursor: pointer; 
	padding: var(--size) var(--size-double);
	text-align: center; 
	display: block; 
	&:focus{
		outline: none; 
	}
}

.small{
	padding: var(--size-half) var(--size-double);
}

.plain{
	-webkit-appearance: none; 
	border: none; 
	background: none; 
}

.primary{
	--background: var(--background-button-primary);
	--color: var(--color-button-primary);
	--border: var(--border-button-primary);
}

.secondary{
	--background: var(--background-button-secondary);
	--color: var(--color-button-secondary);
	--border: var(--border-button-secondary);
}

.tertiary{
	--background: var(--background-button-tertiary);
	--color: var(--color-button-tertiary);
	--border: var(--border-button-tertiary);
}


.primary, .secondary, .tertiary{
	border-bottom: 2px solid var(--border);
	background: var(--background);
	color: var(--color);
	fill: var(--color);
	&.link{
		color: var(--color);
		display: inline-block; 
		text-decoration: none; 
		font-weight: 400; 
	}
}



.group{
	display: flex; 
	flex-wrap: wrap; 
	margin-left: calc(var(--size) * -1);
	.root{
		margin-left: var(--size); 
	}
}
