.root{
	composes: input from './../form.css';
	display: flex; 
	flex-flow: row wrap; 
	align-items: center; 
	.label{
		padding: 0 0 0 var(--size); 
		font-weight: 400; 
	}
	.label, input{
		flex: 0 1 auto; 
	}
	input{
		--width: 0.2rem; 
		--outset: -0.2rem;
		--background: var(--white);
		--border: var(--gray-4);

		-webkit-appearance: none;
		-ms-appearance: none;
		-moz-appearance: none;

		position: relative; 
		width: 1em; 
		height: 1em; 

		background: var(--background);
		border-style: solid; 
		&:disabled, &.disabled{
			+ .label{
				color: var(--color, var(--gray-5));
			}
		}
		&:focus, &.focus{
			outline: none; 
		}
		&, &:before, &:after{	
			border-width: var(--width);
			border-color: var(--border);
		}
		&:before, &:after{
			content: "";
			display: inline-block; 
			position: absolute; 

			top: var(--pseudo-width);
			bottom: var(--pseudo-width);
			left: var(--pseudo-width);
			right: var(--pseudo-width);
		}
		&:before{
			--pseudo-width: var(--outset);
		}
		&:after{
			--pseudo-width: var(--width);
			--border: var(--white);

		    width: 0.3rem;
		    height: 0.6rem;
		    left: 0.3rem;
		    top: 0;
		    border-width: 0 0.2rem 0.2rem 0;
		    transform: rotate(45deg);
		}
		&:checked, &.checked{
			--background: var(--blue-5); 
			--border: var(--blue-5);
			&:after{
				--background: var(--white);
				border-style: solid; 
			}
			&:invalid, &.error{
				--background: var(--red-1);
				&:after{
					--border: var(--white);
				}
			}
		}
		&:focus:before, &.focus:before, &:active:before, &.active:before{
			border-style: solid; 
		}
		&:focus:before, &.focus:before{
			--border: var(--blue-5);
		}
		&:active:before, &.active:before{
			--border: var(--pink-1);
		}
		&:disabled, &.disabled{
			--background: var(--gray-1); 
			--border: var(--gray-4); 
			&:after{
				--border: var(--gray-5);
			}
		}
		&:invalid, &.error{
			--border: var(--red-1); 
			
			outline: initial; 
			border-style: solid; 
		}
	}
}
