.form{
	display: block; 
	width: 100%; 
}

.field, .label, .message{
	display: block; 
}

.field{
	width: 100%; 
	display: flex; 
	flex-flow: column wrap; 
}

.label, .errorMessage, .info{
	flex: 0 1 auto;
}

.label{
	padding-bottom: var(--size);
	font-weight: 600; 
	.input:disabled &, .input.disabled &{
		color: var(--gray-5);
	}
}

.errorMessage, .info{
	padding-top: var(--size);
	display: block; 
}

.errorMessage{
	color: var(--red-1);
}

/* Shared input properties */
.input{ 	
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	&:focus, &.focus{
		outline: none; 
	}
	&:disabled, &.disabled{
		color: var(--gray-5);
		background: var(--gray-1);
	}
}

/* .state{ 
	box-shadow: inset 0 -2px var(--box-shadow);
}

.state:focus, .state.focus{
	--box-shadow: var(--blue-5);
	outline: none; 
}

.state:disabled, .state.disabled{
	--box-shadow: var(--gray-3);
	color: var(--gray-5);
	background: var(--gray-1);
}

.state:invalid, .state.error{
	--box-shadow: var(--red-1);
} */






