.root{
	composes: container from 'styles/layout.css';
	font-family: 'Lato';
	padding: var(--size) var(--page-gutter);
	position: relative; 
	&:after{
/* 		content: ""; */
		display: fixed; 
		top: 0; 
		bottom: 0; 
		left: 0; 
		right: 0; 
		background: color(var(--background-nav) a(50%));

	}
}

.inner{
	margin: 0; 
	composes: row between middle from 'styles/grid.css';
}

.left, .right{
	composes: column from 'styles/grid.css';
	display: flex; 
	flex: 0 0 auto; 
	align-items: center; 
}

.right{
	justify-content: flex-end; 
}


.toggle{
	cursor: pointer; 
	@media (--desktop){
		display: none; 
	}
}

.logo{
	margin-bottom: 0; 
	padding: 0 var(--gutter);
	.link{
		width: 7rem; 
		height: 4rem; 
		background-size: contain; 
		display: block; 
		background-position: 0 50%; 
	}
}

.login{
	display: none; 
	@media (--desktop){
		display: block; 
	}
}

.open{
	.items{
		max-height: none; 
	}
}


.items{
	max-height: 0; 
	overflow: hidden; 
	display: flex; 
	flex-flow: column wrap; 
	composes: antialias exclude-rhythm from global; 
	position: absolute; 
	/* right: var(--gutter); */
	right: 0; 
	top: 100%; 
	width: 50%; 
	background: var(--background-nav);
	@media (--tablet){
		left: auto; 
		width: auto; 
	}
	@media (--desktop){
		position: relative; 
		max-height: none; 
		flex-flow: row nowrap; 
		right: auto; 
	}
}

.item{
	composes: column from 'styles/grid.css';
	flex: 0 1 auto;
	position: relative; 
	padding-top: var(--size-double);
	padding-bottom: var(--size-double);
	border-top: 1px solid var(--border-nav-active);
	@media (--desktop){
		padding-top: 0;
		padding-bottom: 0; 
		padding-top: var(--size);
		padding-bottom: var(--size);
		border: none; 
	}
}


.link{
	text-decoration: none; 
	&:hover, &:focus{
		color: var(--color-nav-active);
	}
	&, &:visited{
		color: var(--white);
	}
	&:before{
		position: absolute; 
		background: var(--border-nav-active);
		bottom: 0; 
		height: 0.3rem;
		left: 0; 
		right: 0; 
	}
	&.active{
		color: var(--color-nav-active); 
		/* &:before{
			content: "";
		} */
	}
}
