:root{
	--border: 0.2rem;
}
.root{
	position: absolute; 
	--background: var(--white);
	--easing: var(--ease-out-quad);
	--duration: 200ms; 

	position: absolute; 
	transform: var(--transform);
	border: var(--border) solid var(--gray-4);
	background: var(--background);
	z-index: -1; 
	min-width: calc(var(--size) * 25); 
	bottom: auto; 
	right: auto; 
	box-shadow: none; 
	/* Out */
	transition: opacity var(--duration) var(--easing), 
				transform var(--duration) var(--easing),
				visibility 0ms var(--easing) var(--duration);
	&, &:before, &:after{
		position: absolute; 
	}
	&, &:after{
		opacity: 0; 
		top: 0; 
		left: 0; 
		visibility: hidden; 
	}
	&:before, &:after{
		content: "";
		display: block;
	}
	&:after{
		width: var(--size); 
		height: var(--size); 
		border-color: inherit;
		border-style: solid; 
		right: 0; 
		bottom: 0;
		transform: var(--transform-after);
		transition: all 0ms var(--easing) var(--duration);
	}
	&:before{
		width: 100%; 
		height: 100%; 
	}
	.hoverable:hover &, .hoverable:focus &,
	&.active{
		/* TRANSFORM IN */
		transform: var(--transform-active);
		&, &:after{
			opacity: 1; 
			z-index: 2; 
			visibility: visible; 
			transition: all var(--duration) var(--easing);
		}
	}
}

.container{
	position: relative; 
	display: inline-block; 
}

.header, .content { padding: var(--size); }
.header{
	font-weight: 600; 
	background: var(--gray-1);
}
.content{
	background: var(--white);
	box-shadow: inset 0 -var(--border) var(--gray-3);
}

.top, .bottom{
	left: 50%; 
	right: auto; 
	&:after{
		left: inherit; 
		right: inherit; 
	}
}

.top{
	--transform: translate(-50%, -95%);
	--transform-after: rotate(45deg) translate(-50%, 0);
	--transform-active: translate(-50%, -100%);

	top: -var(--size);
	bottom: auto; 
	&:before{
		bottom: -var(--size-double);
	}
	&:after{
		background: var(--white);
		top: auto; 
		bottom: -var(--size);
		border-width:  0 var(--border) var(--border) 0; 
	}
}

.bottom{
	--transform: translate(-50%, 95%);
	--transform-after: rotate(45deg) translate(-var(--size), 0);
	--transform-active: translate(-50%, 100%);
	top: auto; 
	bottom: -var(--size);
	&:before{
		top: -var(--size-double);
	}
	&:after{
		background: var(--gray-1);
		top: 0; 
		bottom: auto;
		left: inherit;
		right: inherit;  
		border-width:  var(--border) 0 0 var(--border); 
	}
}

.left, .right{
	top: 25%;
	bottom: auto;
	margin-top: var(--border);
	&:after{
		background: var(--gray-1);
		top: inherit; 
		bottom: inherit; 
	} 
}
.left{
	--transform: translate(-95%, -25%);
	--transform-after: rotate(45deg) translate(-var(--size-half), 0);
	--transform-active: translate(-100%, -25%);
	left: -var(--size); 
	right: auto; 
	&:before{
		right: -var(--size-double);
	}
	&:after{
		left: auto; 
		right: -var(--size);
		border-width: var(--border) var(--border) 0 0;
	}
}

.right{
	--transform: translate(95%, -25%);
	--transform-after: rotate(45deg) translate(0, -var(--size-half));
	--transform-active: translate(100%, -25%);

	left: auto; 
	right: -var(--size); 
	&:before{
		left: -var(--size-double);
	}
	&:after{
		left: -var(--size);
		right: auto; 
		border-width: 0 0 var(--border) var(--border);
	}
}


