
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal; 
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'),
       url('assets/fonts/libre_baskerville/LibreBaskerville-Regular.WOFF') format('woff'); 
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: bold; 
  font-weight: 700;
  src: local('Libre Baskerville'), local('LibreBaskerville-Bold'),
       url('assets/fonts/libre_baskerville/LibreBaskerville-Bold.WOFF') format('woff'); 
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  src: local('Lato'), local('Lato-Light'),
       url('assets/fonts/lato/Lato-Light.WOFF') format('woff'); 
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato'), local('Lato-Regular'),
       url('assets/fonts/lato/Lato-Regular.WOFF') format('woff'); 
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: local('Lato'), local('Lato-Bold'),
       url('assets/fonts/lato/Lato-Bold.WOFF') format('woff'); 
}