
:global{
	.panel-left{
		position: relative; 
		z-index: 1; 
		padding-top: var(--spacing);
		padding-bottom: var(--spacing);
		&:after{
			content: "";
			display: block; 
			position: absolute; 
			left: -100vw; 
			right: calc(var(--gutter-margin) * 2);
			top: 0; 
			bottom: 0;
			background-image: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12);
			z-index: -1; 
		}
	}

	.bleed-padding-override{
		padding: calc(var(--gutter) * 2);
		@media (--tablet){
			padding: var(--gutter);
		}
	}
	
	.homepage-icon{
		flex: 0 1 5em; 
		max-width: 5em; 
		margin-bottom: var(--rhythm-condensed);
	}

}
