.root{
	composes: input from './../Input/input.css';

	flex: 1 0 auto; 
	position: relative; 
	overflow: hidden; 
	padding: 0;
	cursor: pointer; 
	&.open{
		height: auto; 
	}

}

.input{
	width: 0; 
	height: 0; 
	overflow: hidden; 
	visibility: hidden; 
	position: absolute; 
	z-index: -1; 
}

.list{
	max-height: 0;
	opacity: 0;
	.root.open &, &.selected{
		max-height: none;
		opacity: 1;
		border-top: 1px solid var(--gray-4);
		border-bottom: 2px solid transparent; 
	}
}

.optgroup{
	.groupLabel{ padding: var(--size); }
	.option{
		padding-left: var(--size-double);
	}
}

.label{
	padding: var(--size) var(--size-triple) var(--size) var(--size);
	display: block; 
}

.placeholder{
	padding: var(--size) var(--size-triple) var(--size) var(--size);
	position: absolute; 
	left: 0; 
	top: 0;
	background: var(--white);
	width: 100%; 
	z-index: -1;
	.root.open &.selected{
		position: relative; 
		background: green; 
	}
}

.option{
	padding: 0 var(--size-triple) 0 var(--size);
	&:hover, &.hover, &:focus, &.focus{
		outline: none; 
		background: var(--blue-1); 
		color: var(--blue-9);
	}
	.root.open &, &.selected{
		padding-top: var(--size);
		padding-bottom: var(--size);
	}
}

.selected{
	.root.open &{
		background: var(--blue-5);
		color: var(--white);
	}
}

.button{
	position: absolute; 
	display: flex;
	align-items: center;
	top: var(--size-half);
	width: 1em;
	height: 2em;
	right: var(--size);
	fill: var(--gray-4); 
	.open & {
		transform: translateY(var(--size-quarter)) rotate(180deg);
	}
}



