/* WITH WRAPPER */

.container{
	display: block; 
} 

.svg{
	fill: inherit; 
	margin: 0;
	display: block;
}

.inline{
	display: inline-block; 
	vertical-align: middle; 
	padding-right: var(--size);
	line-height: 1; 
	.svg{
		display: inline-block; 
	}
	&.baseline{
		vertical-align: baseline; 
	}
}

.unicode{
	position: relative; 
	width: 2rem; 
	height: 2rem; 
	font-style: inherit;
	line-height: 1; 
}

.small{
	width: 1rem; 
	height: 1rem; 
	&.unicode{
		font-size: 1rem; 
	}
}

.large{
	width: 4rem; 
	height: 4rem;
	&.unicode{
		font-size: 4rem; 
	}
}

.close:before{
	font-size: inherit; 
	content: "\2715";
}


