

.root{
	
	color: var(--color, var(--blue-9));
	background: var(--background, var(--gray-3));

	padding: var(--size-half) var(--size);
	font-weight: 600; 
	display: inline-block;
	opacity: 1; 
	visibility: visible; 
	backface-visibility: hidden;
}


.default{
	--background: var(--gray-3);
}

.info{
	--background: var(--blue-3);
}

.error{
	--background: var(--orange-2);
}

.warning{
	--background: var(--yellow-2);
}

.success{
	--background: var(--green-1);
}

.default,
.info,
.error, 
.warning, 
.success{
	composes: root; 
	background: var(--background);
}

.small{
	padding: var(--size-quarter) var(--size);
}

.closed{
	visibility: hidden;
	opacity: 0;
}

.button{
	position: relative; 
	float: right;
	cursor: pointer; 
	padding: 0 var(--size-quarter);
	margin: 0 -var(--size-quarter) 0 var(--size-half);
	-webkit-appearance: none; 
	background: none; 
	border: none;
	font-size: 1em;
}


