.root{
	width: 100%; 
}
.tabs{
	--border: var(--gray-4);
	
	display: flex; 
	flex-flow: row nowrap; 
	justify-content: start; 
	border-bottom: 1px solid var(--border);
}
.tab, .active{
	--background: var(--white);
}
.tab{
	--border: var(--gray-4);
/* 	--background: var(--white); */
	
	flex: 0 1 auto;
	-webkit-appearance: none; 
	outline: none; 
	cursor: pointer; 
	padding: var(--size);
	background: var(--background);
	text-align: center; 
	border-radius: 0; 
	border-style: hidden; 
	border-width: 1px 1px 0 1px; 
	border-color: var(--border);
	&.active{
		font-weight: 600; 
		border-style: solid;
		box-shadow: 0 1px var(--background);
	}
}

.panel{
	display: none;
	&.active{
		display: block; 
	} 
}

